@import 'variables';

.graph-wrapper {
	vertical-align: top;
	margin: 15px;
	display: inline-block;
	height: $graph-height;
	width: $graph-width;

	.loader-container {
		height: $graph-height;
		width: $graph-width;
	}

	.loader {
		top: 50%;
		position: relative;
		left: 50%;
		margin: 0;
	}
}

.graph-title {
	text-align: center;
}
